<%- include("./partials/head.ejs") %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("./partials/sidebar.ejs") %>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include("./partials/top-nav.ejs") %>

                        <!-- Begin Page Content -->
                        <div class="container">

                            <!-- Page Heading -->
                            <div class="card shadow mb-4">
                              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                  <h1 class="h3 mb-0 text-gray-800">Blog Comments</h1>
                              </div>
                              <div class="card-body">
                                  <div class="table-responsive">
                                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                  <tr>
                                    <th scope="col">Sl No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Message</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% if( contacts.length > 0 ) { %>
                                    <% contacts.forEach((contact, index) => { %>
                                  <tr>
                                    <th scope="row"><%= index + 1 %></th>
                                    <td><%= contact.fullName %></td>
                                    <td><%= contact.email %></td>
                                    <td><%= contact.topic %></td>
                                    <td><%= contact.phone %></td>
                                    <td><%= contact.message %></td>
                                  </tr>
                                  <% }) %>
                                  <% } else { %>
                                    <h2>No Contact Found</h2>
                                    <% } %>
                                </tbody>
                                </table>
                        </div>
                        <!-- End Begin Page Content -->
                </div>
                </div>
                <!-- End of Main Content -->
            
                 <!-- footer -->
                <%- include("./partials/footer.ejs") %>

                <!-- DataTable -->
                <script>
                  $(document).ready(function() {
                      $('#dataTable').DataTable();
                  });
                </script>