<!-- head -->
<%- include('./common/head.ejs')%>

<!-- navbar -->
<%- include('./common/navbar.ejs')%>

<style>
    .uniform-image-size {
        height: 200px; 
        object-fit: cover;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
</style>


<section class="page-title" style="background: url('<%= titleData[0].image %>') no-repeat 50% 50%; background-size: cover; position: relative;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white"><%= titleData[0].subtitle %></span>
            <h1 class="text-capitalize mb-5 text-lg"><%= titleData[0].title %></h1>
          </div>
        </div>
      </div>
    </div>
</section>


  
  <section class="section about-page">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <h2 class="title-color">Personal care for your healthy living</h2>
              </div>
              <div class="col-lg-8">
                  <p>Our commitment extends beyond medical interventions to encompass personalized care aimed at promoting healthy living and enhancing quality of life.</p>
                  <img src="images/about/sign.png" alt="" class="img-fluid">
              </div>
          </div>
      </div>
  </section>
  
  <section class="fetaure-page ">
      <div class="container">
          <div class="row">
            <% abouts.slice(0,4).forEach(data => { %>
              <div class="col-lg-3 col-md-6">
                  <div class="about-block-item mb-5 mb-lg-0">
                      <img src="<%= data.image %>" alt="" class="img-fluid w-100">
                      <h4 class="mt-3"><%= data.title %></h4>
                      <p><%= data.description %></p>
                  </div>
              </div>
              <% }) %>
                
          </div>
      </div>
  </section>
  <section class="section awards">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4">
                  <h2 class="title-color">Our Doctors achievements </h2>
                  <div class="divider mt-4 mb-5 mb-lg-0"></div>
              </div>
              <div class="col-lg-8">
                  <div class="row">
                    <% awards.forEach(achievements => { %>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="award-img">
                              <img src="<%= achievements.image %>" alt="achievement image" class="img-fluid">
                          </div>
                      </div>
                      <% }) %>  
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <section class="section team">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-title text-center">
                      <h2 class="mb-4">Meet Our Specialists</h2>
                      <div class="divider mx-auto my-4"></div>
                      <p>Each member of our specialist team brings a wealth of experience, advanced training, and a commitment to delivering personalized care to every patient.</p>
                  </div>
              </div>
          </div>
  
          <div class="row">
            <% doctors.slice(4,8).forEach(data=> { %>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="team-block mb-5 mb-lg-0">
                      <img src="<%= data.image %>" alt="doctor image" class="img-fluid w-100 uniform-image-size ">
  
                      <div class="content">
                          <h4 class="mt-4 mb-0"><a href="/doctor-single/<%= data._id %>"><%= data.name %></a></h4>
                          <p><%= data.department.department %></p>
                      </div>
                  </div>
              </div>
              <% }) %>
  
              
          </div>
      </div>
  </section>
  
  <section class="section testimonial">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 offset-lg-6">
                  <div class="section-title">
                      <h2 class="mb-4">What they say about us</h2>
                      <div class="divider  my-4"></div>
                  </div>
              </div>
          </div>
          <div class="row align-items-center">
              <div class="col-lg-6 testimonial-wrap offset-lg-6">
                <% reviews.forEach(remarks => { %>
                  <div class="testimonial-block">
                      <div class="client-info ">
                          <h4><%= remarks.title %></h4>
                          <span><%= remarks.person %></span>
                      </div>
                      <p>
                        <%= remarks.review %>
                      </p>
                      <i class="icofont-quote-right"></i>
                      
                  </div>
                  <% }) %>
  
                 
              </div>
          </div>
      </div>
  </section>

  <!-- footer -->

  <%- include('./common/footer.ejs')%>
