<!-- head -->
<%- include('./common/head.ejs')%>

<!-- navbar -->
<%- include('./common/navbar.ejs')%>

<section class="page-title" style="background: url('<%= titleData[9].image %>') no-repeat 50% 50%; background-size: cover; position: relative;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"><%= titleData[9].subtitle %></span>
          <h1 class="text-capitalize mb-5 text-lg"><%= titleData[9].title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>
  
  <section class="appoinment section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <div class="mt-3">
              <div class="feature-icon mb-3">
                <i class="icofont-support text-lg"></i>
              </div>
               <span class="h3">Call for an Emergency Service!</span>
                <h2 class="text-color mt-3">+84 789 1256 </h2>
            </div>
        </div>
  
        <div class="col-lg-8">
             <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
              <h2 class="mb-2 title-color">Book an appoinment</h2>
              <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
              <!-- flash -->
              <% if(flashMessage4.length>0){ %>
                <div class="alert alert-danger"><%= flashMessage4 %></div>
                <% } %>
                 <form id="#" class="appoinment-form" method="post" action="/make-appointment">
                      <div class="row">
                           <div class="col-lg-6">
                              <div class="form-group">
                                  <select class="form-control" id="exampleFormControlSelect1" name="department">
                                      <option>Choose Department</option>
                                      <% allDepartments.forEach(department => { %>
                                    <option value="<%= department._id %>"><%= department.department %></option>
                                    <% }) %>
                                  </select>
                              </div>
                          </div>
                          
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <select class="form-control" id="exampleFormControlSelect2" name="doctor">
                                    <option>Select Doctor</option>
                                    <% allDoctors.forEach(doctor => { %>
                                    <option value="<%= doctor._id %>"><%= doctor.name %></option>
                                    <% }) %>
                                  </select>
                              </div>
                          </div>
  
                           <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="date" id="date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                              </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="time" id="time" type="text" class="form-control" placeholder="Time">
                              </div>
                          </div>
                           <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="name" id="name" type="text" class="form-control" placeholder="Patient Name">
                              </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                              </div>
                          </div>
                      </div>
                      <div class="form-group-2 mb-4">
                          <textarea name="message" id="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                      </div>
  
                      <button class="btn btn-main btn-round-full" type="submit">Make Appoinment<i class="icofont-simple-right ml-2"></i></a>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <%- include('./common/footer.ejs')%>