<!-- head -->
<%- include('./common/head.ejs')%>

<!-- navbar -->
<%- include('./common/navbar.ejs')%>

<!-- Slider Start -->
<section class="banner">
    <div class="banner-image" style="background: url('<%= banner[0].image %>') no-repeat center center; background-size: cover; min-height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xl-7">
                    <div class="block">
                        <div class="divider mb-3"></div>
                        <span class="text-uppercase text-sm letter-spacing"><%= banner[0].sub_title %></span>
                        <h1 class="mb-3 mt-3"><%= banner[0].title %></h1>
                        <p class="mb-4 pr-5"><%= banner[0].description %></p>
                        <div class="btn-container">
                            <a href="/appointment" class="btn btn-main-2 btn-icon btn-round-full">Make appointment <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Features Section Start -->
<section class="features">
    <div class="container">
        <div class="row">
            <% features.forEach(feature => { %>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item mb-5">
                    <div class="feature-icon mb-4">
                        <i class="icofont-surgeon-alt"></i>
                    </div>
                    <h4 class="mb-3"><%= feature.service %></h4>
                    <h6><%= feature.appointment_type %></h6>
                    <p class="mb-4"><%= feature.description %></p>
                    <a href="/appointment" class="btn btn-main btn-round-full">Make an appointment</a>
                </div>
            </div>
            <% }) %>

            <% if (features.length > 0) { %>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item mb-5">
                    <div class="feature-icon mb-4">
                        <i class="icofont-ui-clock"></i>
                    </div>
                    <h4 class="mb-3">Working Hours</h4>
                    <ul class="w-hours list-unstyled">
                        <% features[0].hours.forEach((hours, day) => { %>
                        <li class="d-flex justify-content-between"><%= day %> <span><%= hours %></span></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item mb-5">
                    <div class="feature-icon mb-4">
                        <i class="icofont-support"></i>
                    </div>
                    <h4 class="mb-3">Emergency Cases</h4>
                    <p><%= features[0].emergency %></p>
                    <p><%= features[0].em_note %></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>

<section class="section about">
    <div class="container">
        <% aboutSections.forEach(about => { %>
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="about-img">
                        <img src="/<%= about.images[0] %>" alt="" class="img-fluid">
                        <img src="/<%= about.images[1] %>" alt="" class="img-fluid mt-4">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="about-img mt-4 mt-lg-0">
                        <img src="/<%= about.images[2] %>" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-content pl-4 mt-4 mt-lg-0">
                        <h2 class="title-color"><%= about.title %></h2>
                        <p class="mt-4 mb-5"><%= about.description %></p>
                        <a href="/service" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</section>




<section class="section service gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Award winning patient care</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Our hospital has been honored with multiple awards for our outstanding patient care, reflecting our unwavering dedication to delivering high-quality healthcare services to our community.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <% cares.forEach(care => { %>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="icon d-flex align-items-center">
                        <i class="<%= care.logo %> text-lg"></i>
                        <h4 class="mt-3 mb-3"><%= care.care %></h4>
                    </div>
                    <div class="content">
                        <p class="mb-4"><%= care.words %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<section class="section testimonial-2 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>We served over 5000+ Patients</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>With pride, we announce that we have successfully provided care to over 5000 patients and counting. Each individual represents a story of compassion, expertise, and dedication to wellness. We are honored to have been trusted by so many, and we continue to uphold our commitment to delivering high-quality healthcare services to all those in need.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 testimonial-wrap-2">
                <% reviews.forEach(remarks => { %>
                <div class="testimonial-block style-2 gray-bg">
                    <i class="icofont-quote-right"></i>
                    <div class="testimonial-thumb">
                        <img src="<%= remarks.image %>" alt="person image" class="img-fluid">
                    </div>
                    <div class="client-info">
                        <h4><%= remarks.title %></h4>
                        <span><%= remarks.person %></span>
                        <p><%= remarks.review %></p>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>

<section class="section clients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Partners who support us</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Supporting partners contribute to the hospital's mission by helping to improve patient outcomes, enhance operational efficiency, and advance medical research and education. Their collaboration fosters innovation, expands access to resources, and strengthens the hospital's ability to deliver high-quality care to its community.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row clients-logo">
            <% partners.forEach(partner => { %>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="<%= partner.image %>" alt="partner image" class="img-fluid">
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<!-- footer Start -->
<%- include('./common/footer.ejs')%>
